/shuke_api_autotest/quanxian_api_autotest/quanxian/testcases/allure_results/
/shuke_api_autotest/quanxian_api_autotest/quanxian/testcases/.report.json
/allure-results/
/allure-report/
/shuke_api_autotest/logs/
/shuke_api_autotest/shangshizijin_api_autotest/fundmanage/testcases/allure_results/
/shuke_api_autotest/gongdan_api_autotest/fundmanage/testcases/allure_results/
/shuke_api_autotest/gongdan_api_autotest/fundmanage/testcases/.report.json
/shuke_api_autotest/zhikexing_api_autotest/fundmanage/testcases/allure_results/
/shuke_api_autotest/zhikexing_api_autotest/zkx/testcases/allure_results/
